<div class="container mt-3">
    <div class="d-flex justify-content-center mt-3">
        <h1 class="titulo contadorPregunta">12</h1>
    </div>
    <div class="row mt-2">
        <div class="text-center">
            <h3 class="titulo">CUAL ES LA CAPITAL DE ARGENTINA?</h3>
            <div class="col-lg-6 offset-lg-3">
                <ul class="list-group mt-3">
                    <li class="list-group-item">Lima</li>
                    <li class="list-group-item classSeleccionada">Buenos Aires</li>
                    <li class="list-group-item">Caracas</li>
                    <li class="list-group-item">Bogota</li>
                </ul>
                <button class="btn-principal btn-aceptar mt-3">ACEPTAR</button>
            </div>
        </div>
    </div>
</div>